* {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 500;
}

.filters {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
    margin-left: 10px;
    border-radius: 5px;
}

.buttons button {
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #c8c8c8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.buttons button:hover {
    background-color: #e0e0f0;
    transform: translateY(-2px);
}

.compare-container {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 20px;
}

.table-wrapper {
    flex: 1;
    min-width: 0;
}

table {
    table-layout: auto;
    width: 100%;
    word-break: keep-all;
    white-space: nowrap;
    font-size: 12px; /* 글씨 줄이기 */
    border-collapse: collapse;
}

th, td {
    padding: 2px 4px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 0; /* ❗기본값 제거 */
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}


.hidden {
    display: none;
}

@media (max-width: 480px) {
    table {
        font-size: 10px;
    }

    th, td {
        padding: 1px 2px; /* 모바일에서는 더 타이트하게 */
        font-size: 10px;
    }

    .filters label,
    .buttons button {
        font-size: 12px;
    }
}
