* {
    font-family: 'Do Hyeon', sans-serif;
    font-weight: 500;
}

.nav-link {
    font-family: 'Science Gothic', sans-serif !important;
    font-weight: 500;
    /* letter-spacing: 0.3px;
    font-weight: bold; */
}

.navbar-brand {
    font-family: 'Science Gothic', sans-serif !important;
    font-weight: 500;
    /* font-weight: bold; */
    font-size: 1.6rem;
    line-height: 1.2;
}
.nav-link.active {
    background-color: #3083ff;
    color: white !important;
    font-weight: bold;
    border-radius: 5px;
}

.navbar-toggler {
    border: none !important; /* 테두리 제거 */
    box-shadow: none !important; /* 클릭 시 생기는 그림자도 제거 (권장) */
}

.nav-link {
    color: gray;
}

 table {
     border: none;
     border-collapse: collapse;
     width: 100%;
 }

/* 테이블 셀의 기본 테두리 제거 */
table td, table th {
    border: none;
    padding: 8px;
    text-align: left;
}

/* 헤더 배경 음영 */
thead {
    background-color: #f2f2f2; /* 회색 음영 */
}

/* 선택: 헤더 글씨 굵게 */
th {
    font-weight: bold;
}
